<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Survey List </h3>

          <a href="/survey/add" class="btn btn-primary" roll="button"><i class="fa fa-plus"></i> Add a Survey</a>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < survey.length; count++) { %>
                <tr>
                  <td><%= survey[count].title %></td>
                  

                  <td class="text-center">
                    <a href="/survey/edit/<%=survey[count]._id %>" class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i>Edit</a>
                  </td>
                  <td class="text-center">
                  <a href="/survey/delete/<%=survey[count]._id %>" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>Delete</a>
                  <td class="text-center">
                  <td class="text-center">
                    <a href="/survey/view/<%=survey[count]._id %>" class="btn btn-primary">
                    <i class="fas fa-view-alt"></i>View</a>
                  </td>
                    
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>


